<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>電話をかけるページ</title>
    <link rel="stylesheet" href="lineout-screen.css">
    <script src="lineout-screen.js" charset="utf-8"></script>
</head>

<body>
    <div class="container">
        <div class="profile">
            <div class="image">
                <img src="img/user_icon-default.png">
            </div>
            <div class="user">
              <div class="id">aaa@gmail.com</div>
              <div class="name">名前：
                  <%- items[0].username %>
              </div>
            </div>
        </div>

        <div class="list">
            <div class="time">起こして欲しい時間：<br>
                <%- items[0].wakeup_date %>
            </div>
            <div class="comment">ひとこと：
                <%- items[0].comment %>
            </div>
            <div class="topic">お題：
                <%- items[0].topic %>
            </div>
            <div class="call"><a href="https://line.me/R/call/81/<%- items[0].phone_number %>">コールする</a></div>
            <div class="delete"><a href="javascript:deleteConfirm(<%- items[0].call_id %>)">削除する</a></div>
            <div class="reserve"><a href="/reserve?call_id=<%- items[0].call_id %>">起こす予約</a></div>
        </div>
    </div>


</html>
